@model IEnumerable<CasoEstudio_Form.Domain.DTOs.Publicaciones.Publicaciones>
@{
    ViewData["Title"] = "Comentarios";
}

<div class="container">
    <h1>Comentarios</h1>
    <hr />
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Comentario</a>

    @foreach (var publicacion in Model.Where(c => c.IdParent == null))
    {
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">@publicacion.IdUsuario</h5>
                <p class="card-text">@publicacion.TextComentario</p>
                <p class="card-text text-muted">Publicado el @publicacion.FechaComentario.ToString("dd/MM/yyyy")</p>
                <a asp-action="Edit" asp-route-id="@publicacion.IdComentario" class="btn btn-link">Editar</a>

                <a asp-action="Respond" asp-route-idParent="@publicacion.IdComentario" class="btn btn-link">Responder</a>

                <!-- Mostrar respuestas a este comentario -->
                @foreach (var respuesta in Model.Where(r => r.IdParent == publicacion.IdComentario))
                {
                    <div class="card my-3">
                        <div class="card-body">
                            <h5 class="card-title">@respuesta.IdUsuario</h5>
                            <p class="card-text">@respuesta.TextComentario</p>
                            <p class="card-text text-muted">Publicado el @respuesta.FechaComentario.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
